/************ GENERAL ************/

.margins {
    padding-left: 16px;
    padding-right: 16px;
}

.spacing {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, p, h3{
    font-weight: 200;
}

.d-flex {
    display: flex;
}

.center {
    justify-content: center;
}

.button {
    background-color: #014FEC;
    padding: 14px 22px 14px 22px;
    color: white;
    border-radius: 40px;
    text-decoration: none;
}

.MuiSvgIcon-root {
font-size: 2.4rem !important;
}

/************ LANDING ************/

.MuiSvgIcon-root {
    width: 0.8em !important;
    height: 0.8em !important;
}

.landing {
    text-align: center;
}

.mylogo {
    width: 100% !important;
}

.logo-div {
    background-color: #E8E6DE;
    padding-top: 25px;
    padding-bottom: 30px;
}

/************ CITY CARD ************/

.MuiCardContent-root {
    margin-top: -90px;
    background-color: rgba(255, 255, 255, 0.3);
}

.cardText {
    background-color: #3e3e3e;
    border-radius: 40px;
    color: white;
    margin-bottom: 0px !important;
    font-size: 18px !important;
}