/************ GENERAL ************/

.margins {
    padding-left: 16px;
    padding-right: 16px;
}

.spacing {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1, p, h3{
    font-weight: 200;
}

.d-flex {
    display: flex;
}

.center {
    justify-content: center;
}

.MuiSvgIcon-root {
font-size: 2.4rem !important;
}

/************ LANDING ************/

.MuiSvgIcon-root {
    width: 0.8em !important;
    height: 0.8em !important;
}

.landing {
    text-align: center;
}

.mylogo {
    width: 100% !important;
}

#landingCityTiles .MuiGridListTileBar-title {
    background-color: #014FEC;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}

/************ CITY CARD ************/

.MuiCardContent-root {
/*    margin-top: -90px;*/
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0px !important;
}

.cardTitle {
    background-color: #014FEC;
    border-radius: 20px;
    color: white;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    font-size: 16px !important;
    text-align: center;
    padding: 10px 16px;
    font-weight: 300;
}

#itineraryCityImg .cardTitle {
    margin-top: 50px !important;
}

.cardTitleSearch {
    color: black;
    font-size: 16px !important;
    text-align: center;
    font-weight: 300;
    width: 100%;
}

#emptyMessage {
    visibility: hidden;
  }

.container {
    padding: 20px;
}

#searchBar {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 20px;
    margin-top: 75px;
}

.searchBarHeader {
    height: 210px;
    background-color: #E8E6DE;
    display: flex;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2826&q=80');
    background-position: center;
    background-size: cover;
}

.cityCard {
    margin-bottom: 10px !important;
    height: 120px;
    width: 100%;
}

.cityCard .NoSearchResult {
    background-color: #E8E6DE !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiCardActionArea-root {
    display: flex !important;
}

.NoSearchResult {
    background-color: #ced4da;
}

#cityCardsBox a {
    width: 100%;
    text-decoration: none;
}

#itineraryCityImg {
    background-color: antiquewhite;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

#itineraryCityImg .cardTitle {
    justify-content: center;
    display: flex;
}

#cityCardsBox .MuiIconButton-root {
    padding: 5px;
}

#cityCardsBox .MuiCardActions-root {
    padding: 8px 16px;
}

.MuiGridListTile-tile {
    border-radius: 8px;
}

#hideScrollBar ::-webkit-scrollbar {
    display: none;
}

#emptyMessageInner, #emptyMessageBox {
    height: 0px;
}

#itinerariesPage .MuiCardHeader-action {
    margin-top: 0px !important;
    margin-right: 0px !important;
    max-width: 40px;
    max-height: 40px;
}